  /* *{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
} */



.title-boxx{
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif !important;
  font-size:16px !important;
  font-weight:700 !important;}

.image.main.center-text {
   font-size: 29px;
   font-weight: normal;
   line-height: 0.5;
}
  

p{
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif !important;
  font-size:15px !important;
  line-height: 1.2; 
  }

.wrappers{
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.colsss{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.colxx{
  width: calc(30% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.containerss{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.frontt,
.backk{
  background-size: cover;
  background-position: center;
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
}

.frontt:after{
  position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: 0.4;
    background-color: #0a2872;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}


.backk{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.innerr{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.containerss .backk{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.containerss .frontt{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.containerss:hover .backk{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.containerss:hover .frontt{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.frontt .innerr p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}



@media screen and (max-width: 64rem){
  .colxx{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 40rem){
  .colxx{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 1080px) {
  .hidden-xs {
    visibility: hidden;
    display: none;
  }
}

@media only screen and (min-width: 1080px) {
  .show-xs {
    display: none;
  }
}

@media screen and (max-width: 30rem){
  .colxx{
      width: 100%;
  }
}